<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="sidebar">
        <h2>library</h2>
        <a href="/dashboard">Dashboard</a>
        <a href="/books">books</a>
        <a href="/borrowed">Borrowed Books</a>
        <a href="/visits">Library Visits</a>
        <a href="/students">Students</a>
        <a href="/logout">logout</a>
    </div>
    <div class="main">
        <h1> Welcome <%= librarian.name %></h1>
        <div class="cards">
            <div class="card">
                <h2><%= totalBooks %></h2>
                <p>Total Books</p>
            </div>
            <div class="card">
                <h2><%= totalBorrowed %></h2>
                <p>Borrowed Books</p>
            </div>
            <div class="card">
                <h2><%= totalVisits %></h2>
                <p>Visits</p>
            </div>
        </div>
    </div>
</body>
</html>